main{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
app-aside-books-section{
    float: left;
    width: 22%;
}
app-main-books-section{
    float: right;
    width: 76%;
}

