<main>
    <aside>
        <nav>
          <a data-bs-toggle="collapse" role="button" data-bs-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
            <h2><i class="fa-solid fa-bars"></i> Filtrar</h2>
          </a>
      
          <div class="collapse" id="collapseGeneral">
            <div>
              <ul>
                <li>
                  <a data-bs-toggle="collapse" role="button" data-bs-target="#collapseGeneros" aria-expanded="false" aria-controls="collapseGeneros">
                    <h3>Generos</h3>
                  </a>
      
                  <div class="collapse" id="collapseGeneros">
                    <ul class="dropdown row">
                      <li *ngFor="let category of categories" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [value]="category.value" id="flexCheckDefault"/>
                        <label class="form-check-label" for="flexCheckDefault">{{category.name}}</label>
                      </li>
                    </ul>
                  </div>
                </li>

                <hr>

                <li>
                  <a data-bs-toggle="collapse" role="button" data-bs-target="#collapseTiempo" aria-expanded="false" aria-controls="collapseTiempo">
                    <h3>Tiempo</h3>
                  </a>
      
                  <div class="collapse" id="collapseTiempo">
                    <ul>
                        <li>
                            <label for="timeRange" class="form-label">30 minutos</label>
                            <input type="range" class="form-range" min="0" max="150" step="1" id="timeRange"/>
                        </li>
                    </ul>
                  </div>
                </li>

                <hr>

                <li>
                  <a data-bs-toggle="collapse" role="button" data-bs-target="#collapseCalif" aria-expanded="false" aria-controls="collapseCalif">
                    <h3>Calificación</h3>
                  </a>
      
                  <div class="collapse" id="collapseCalif">
                    <ul>
                      <li>
                        <i class="fa-solid fa-star star-calf"></i>
                        <i class="fa-regular fa-star star-calf"></i>
                        <i class="fa-regular fa-star star-calf"></i>
                        <i class="fa-regular fa-star star-calf"></i>
                        <i class="fa-regular fa-star star-calf"></i>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </aside>
      <section>
        <div class="main-title">
          <h2>Libros(32)</h2>
          <select class="select-filter" name="filter" id="aToZ">
            <option value="0" selected>a-z</option>
            <option value="1">a-d</option>
            <option value="2">e-h</option>
            <option value="3">i-m</option>
            <option value="4">n-p</option>
            <option value="5">r-w</option>
            <option value="6">u-z</option>
          </select>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-6 col-xl-4" *ngFor="let item of books">
              <div class="book">
                <img [src]="item.img" class="text-center" alt="..." />
                <div class="row book-info">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <h5 class="col-12">{{item.title}}</h5>
                    <div class="container-icon-save">
                      <i class="fa-regular fa-bookmark "></i>
                    </div>
                  </div>
                  
                  <p>{{item.pages}}</p>
                </div>
              </div>
            </div>
          </div>
      </section>
</main>

