<div class="w-100">
  <div class="bg-principal d-flex justify-content-center p-5">
    <div class="container-card-info shadow p-4 rounded text-center">
      <div class="container-title rounded col-2 shadow">
          <h1>KADMO</h1>
      </div>
      <h2 class="mb-4">
         COMPRA O VENDE TUS LIBROS
      </h2>
      <p class="mb-4">
          Consigue vender o comprar tus libros deseados a un excelente precio, únete a nosotros ahora.
      </p>
      <a class="btn btn-comprar" href="/store/books"> COMPRAR <i class="ms-3 fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
</div>
