.bg-principal {
  background-image: url('/img/banner_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.bg-principal::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.btn-comprar{
  background-color: #003087;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}
.btn-comprar:hover{
  background-color: #4069E5;
}


.container-card-info{
  background-color: #ffffff;
  margin: auto;
  width: 40%;
  height: auto;
  position: relative;
}
.container-title{
  width: 50%;
  background-color: #4069E5;
  color: #ffffff;
  position: absolute;
  top: -8%;
  left: 0;
  right: 0;
  margin: auto;
}
.container-card-info h2{
  color: #4069E5;
  font-weight: 700;
  margin-top: 5%;
}
.container-card-info p{
  /* color: #4069E5; */
  font-size: 1.5rem;
  font-weight: 500;
}