<section class="mt-5">
    <div class="container">
    <img class="logo-on-subscrition" src="/img/logo completo transparente.png" alt="">
    <h2 class="title-ref mt-3">Suscribete a Kadmo para leer todo el tiempo</h2>
    <p>Disfruta de miles de libros los cuales puedes leer desde tu dispositivo movil o si lo prefieres puedes comprarlo fisico.</p>

    <div class="form-check check-suscription border rounded shadow">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label ps-3" for="flexRadioDefault1">$10/Mensual</label>
      </div>
      <div class="form-check check-suscription border rounded shadow">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label ps-3" for="flexRadioDefault2">$80/Anual</label>
      </div>
      <div class="buttons">
          <button class="btn btn-primary mt-3 btn-comprar"><i class="fa-solid fa-wallet me-2"></i>Suscribete ahora</button>
      </div>
    </div>
</section>