<section class="margin-general">
    <h2>Aprende React</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe amet sint sapiente officiis, commodi distinctio explicabo, molestiae impedit unde similique doloribus dicta dignissimos expedita nisi labore animi error? Numquam.
    Eaque dolorum quae qui neque a dolore. Exercitationem molestiae sint veritatis commodi libero rerum quos praesentium, nulla facere totam ullam fugit sed voluptates sit architecto quidem et dicta nobis ratione.</p>

    <div class="container shadow rounded p-5">
        
        <div class="seller row mb-5">
            <img class="col-2 seller-img" src="/img/user.jpg" alt="">
            <div class="seller-info col-9">
                <h3>Vendedor</h3>
                <p>Emma Gonzalez</p>
            </div>
            <div class="container-icon-save col-1">
                <i class="fa-regular fa-bookmark "></i>
                <!-- <i class="fa-solid fa-bookmark"></i> -->
              </div>
        </div>

        <div class="book-info row text-center mt-3">
            <div class="col-sm-2 col-12">
                <h4>Páginas:</h4>
                <p>180</p>
            </div>
            <div class="col-sm-6 col-12">
                <h4>Notas:</h4>
                <p>352 Notas de la comunidad</p>
            </div>
            <div class="col-sm-4 col-12">
                <h4>Rating:</h4>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-regular fa-star star-calf"></i>
            </div>
        </div>

    </div>

    <div class="chapters mt-5 p-4 rounded">
        <ul>
            <li class="my-3" *ngFor="let item of chapters; let i = index">
                {{i + 1}}. {{item.title}}
            </li>
        </ul>
        <button *ngIf="book.disponibilidadLibro.idDisponibilidadLibro == 1" class="btn btn-outline-info col-12" (click)="verifyUserLogin()"><i class="fa-solid fa-plus"></i> Añadir al carrito</button>
        <button *ngIf="book.disponibilidadLibro.idDisponibilidadLibro == 2" class="btn btn-outline-dark col-12" disabled ><i class="fa-solid fa-square-xmark"></i> No Disponible</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="buyBookModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Comprar Libro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formCompraLibros">
                <div class="mb-3">
                  <label for="libro" class="form-label">Libro</label>
                    <input type="text" class="form-control" id="libro" [value]="this.book.nombre" [disabled]="true">
                </div>
                <div class="mb-3">
                    <label for="pago" class="form-label">Pago</label>
                    <input type="text" class="form-control" id="pago" [value]="this.book.precio" [disabled]="true">
                </div>
                <div class="w-100" *ngIf="listAllCreditCards.length > 0">
                  <div class="w-100" *ngFor="let card of listAllCreditCards; let i = index">
                    <div class="form-check check-suscription mb-2 border rounded shadow">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" (change)="onChangeCreditCard(card)" [value]="card.idTarjetaCredito" id="flexRadioDefault{{i}}" >
                      <label class="form-check-label ps-3" for="flexRadioDefault{{i}}">{{card.numeroTarjeta}}</label>
                      <label class="form-check-label ps-3" for="flexRadioDefault{{i}}">{{card.titular}}</label>
                    </div>
                  </div>
                </div>
                <div class="w-100" *ngIf="listAllCreditCards.length == 0">
                  <p class=" my-2 w-100 d-inline-block text-center">No tienes tarjetas de crédito registradas</p>
                  <button type="button" class="btn btn-primary mt-3 btn-comprar" data-bs-target="#addNewCardModal" data-bs-toggle="modal"><i class="fa-solid fa-wallet me-2"></i>Agregar tarjeta de crédito</button>
                </div>
                <button type="button" class="btn btn-info mt-3 w-100" (click)="comprarLibro()">Comprar</button>     
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addNewCardModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Registrar Tarjeta de Crédito</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="creditCardForm">
                <div class="mb-3">
                    <label for="titular" class="form-label">Titular de la Tarjeta</label>
                    <input type="text" class="form-control" id="titular" formControlName="titular">
                </div>
                <div class="mb-3">
                    <label for="numeroTarjeta" class="form-label">Número de la Tarjeta</label>
                    <input type="text" class="form-control" id="numeroTarjeta" formControlName="numeroTarjeta">
                </div>
                <div class="mb-3">
                    <label for="fechaExpiracion" class="form-label">Número de la Tarjeta</label>
                    <input type="date" class="form-date" id="fechaExpiracion" formControlName="fechaExpiracion">
                </div>
                <div class="mb-3">
                    <label for="cvs" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cvs" formControlName="cvs">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#buyBookModal" (click)="addCreditCard()" data-bs-toggle="modal">Añadir Tarjeta</button>
            </div>
          </div>
        </div>
      </div>

</section>