<section class="margin-general">
    <h2>{{libroProp[0].nombre}}</h2>
    <p>{{libroProp[0].descripcion}}</p>

    <div class="autor-container shadow rounded p-5">
        
        <div class="seller row mb-5">
            <img class="col-3 seller-img" src="/img/user.jpg" alt="">
            <div class="seller-info col-7">
                <h3>Autor</h3>
                <p>{{libroProp[0].autor}}</p>
            </div>
            <div class="container-icon-save col-2">
                <i class="fa-regular fa-bookmark "></i>
                <!-- <i class="fa-solid fa-bookmark"></i> -->
              </div>
        </div>

        <div class="book-info row text-center mt-3">
            <div class="col-xxl-3 col-12">
                <h4>Categoria:</h4>
                <p>{{libroProp[0].categoriasLibro.categoria }}</p>
            </div>
            <div class="col-xxl-5 col-12">
                <h4>Notas:</h4>
                <p>352 Notas de la comunidad</p>
            </div>
            <div class="col-xxl-4 col-12">
                <h4>Rating:</h4>
                
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-solid fa-star star-calf"></i>
                <i class="fa-regular fa-star star-calf"></i>
            </div>
        </div>

    </div>

    <div class="chapters my-5 p-4 rounded">
        <ul>
            <!-- <li class="my-3" *ngFor="let item of chapters; let i = index">
                {{i + 1}}. {{item.title}}
            </li> -->
            <button class="btn btn-outline-info col-12"><i class="fa-solid fa-plus"></i> Añadir al carrito</button>
        </ul>
    </div>

</section>