<section>
    <h2>Aprende React</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe amet sint sapiente officiis, commodi distinctio explicabo, molestiae impedit unde similique doloribus dicta dignissimos expedita nisi labore animi error? Numquam.
    Eaque dolorum quae qui neque a dolore. Exercitationem molestiae sint veritatis commodi libero rerum quos praesentium, nulla facere totam ullam fugit sed voluptates sit architecto quidem et dicta nobis ratione.</p>

    <h3>Vendedor</h3>
    <p>Emma Gonzalez <i class="fa-regular fa-bookmark "></i></p>
</section>