<div class="container p-2">
  <h1 class="display-5">Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group ">
      <label for="username">Correo</label>
      <input formControlName="correo" type="text" name="username" id="username" class="form-control"  />
      <div  class="invalid-feedback">
        <div >Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input formControlName="contraseña" type="password" name="password" id="password" class="form-control" />
      <div  class="invalid-feedback">
        <div >Password is required</div>
      </div>
    </div>  
    <div class="form-group">
      <label for="idRol">Rol</label>
      <select formControlName="idRol" name="idRol" id="idRol" class="form-control">
        <option value="" [defaultSelected] ></option>
        <option value="2">Editorial</option>
        <option value="3">Autor</option>
        <option value="4">Cliente</option>
      </select>
    </div>   
    <div class="form-group ">
      <label for="name">Nombres</label>
      <input formControlName="nombres" type="text" name="name" id="name" class="form-control"  />
    </div>
    <div class="form-group ">
      <label for="lastname">Apellidos</label>
      <input formControlName="apellidos" type="text" name="lastname" id="lastname" class="form-control"  />
    </div>
    <div class="form-group ">
      <label for="address">Direccion</label>
      <input formControlName="direccion" type="text" name="address" id="address" class="form-control"  />
    </div>
    <div class="form-group ">
      <label for="document">Documento</label>
      <input formControlName="documento" type="text" name="document" id="document" class="form-control"  />
    </div>
    <div class="form-group ">
      <label for="phone">Telefono</label>
      <input formControlName="telefono" type="text" name="phone" id="phone" class="form-control"  />
    </div>
    <div class="form-group ">
      <label for="age">Edad</label>
      <input formControlName="edad" type="text" name="age" id="age" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="idGenero">Genero</label>
      <select formControlName="idGenero" name="idGenero" id="idGenero" class="form-control">
        <option value="" [defaultSelected] ></option>
        <option value="1">Femenino</option>
        <option value="2">Masculino</option>
      </select>
    </div> 
    <button type="submit" class=" mt-3 btn btn-primary">Register</button>
  </form>
    
</div>
