<aside>
    <div class="aside-1-div">
        <div class="aside-2-div">
            <button class="btn btn-outline-info aside-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                B
            </button>
        </div>
        <div class="aside-3-div collapse show d-lg-block" id="collapseExample">
            <nav class="aside-nav">
                <a href="#" class="aside-link">Dashboard</a>
                <a href="#" class="aside-link">Ventas</a>
                <a href="#" class="aside-link">Reportes</a>
                <a href="#" class="aside-link">Libros</a>
                <a href="#" class="aside-link">Calificaciones</a>
                <a href="#" class="aside-link">Categorías</a>
                <a href="#" class="aside-link">Usuarios</a>
                <a href="#" class="aside-link">Editoriales</a>
            </nav>
        </div>
    </div>
</aside>