<aside class="vh-100">
    <div class="aside-1-div">
        <div class="aside-2-div">
            <button class="btn btn-outline-primary aside-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                ☰
            </button>
        </div>
        <div class="aside-3-div collapse show d-lg-block" id="collapseExample">
            <nav class="aside-nav">
                <!-- <a routerLink="dashboard" class="aside-link" routerLinkActive="active">Dashboard</a>
                <a routerLink="ventas" class="aside-link" routerLinkActive="active">Ventas</a> -->
                <a routerLink="reportes" class="aside-link" routerLinkActive="active">Reportes</a>
                <a routerLink="libros" class="aside-link" routerLinkActive="active">Libros</a>
                <a routerLink="calificaciones" class="aside-link" routerLinkActive="active">Calificaciones</a>
                <a routerLink="categorias" class="aside-link" routerLinkActive="active">Categorías</a>
                <a routerLink="usuarios" class="aside-link" routerLinkActive="active">Usuarios</a>
                <a routerLink="datos-usuarios" class="aside-link" routerLinkActive="active">Datos Usuarios</a>
                <a routerLink="editoriales" class="aside-link" routerLinkActive="active">Editoriales</a>
            </nav>
        </div>
    </div>
</aside>