.img-libro{
    width: 35%;
    height: 70vh;
    margin: 0 auto;
    object-position: top;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suscripcion p i, .suscripcion .cancel{
    color: #4069E5;
}