<section class="margin-general">
    <div class="row">
        <div class="col-5 suscripcion">
            <p>Este libro es exclusivo con la Suscripcion</p>
            <h2>Unete ahora y disfruta de lanzamientos anticipados</h2>
            <p><i class="fa-regular fa-circle-check me-2"></i>20,000 + libros todos los meses</p>
            <p><i class="fa-regular fa-circle-check me-2"></i>Literatura clásica, terror y más </p>
            <p><i class="fa-regular fa-circle-check me-2"></i>Guarda tus libros en listas personalizadas</p>
            <p><i class="fa-regular fa-circle-check me-2"></i>Gana acceso exclusivo para ver los borradores</p>
            <h3 class="mt-5">10USD / Mensual</h3>
            <p>$80 por comprar la suscripcion Anual</p>
            <button class="btn btn-primary mt-3 btn-comprar"><i class="fa-solid fa-wallet me-2"></i>Suscribete ahora</button>
            <p class="mt-3 text-center cancel">Cancela o pausa en cualquier momento.</p>
        </div>
        <img class="col-7 img-libro" src="/img/portada-2.jpg" alt="">
    </div>
</section>