<div class="container-login">
    <div class="container-login-form row shadow rounded">
       
        <!-- FORMULARIO -->
        <div class="container-login-form-input col-8 p-4">
            <h1 class="mb-4">Registro</h1>
            <label class="form-label" for="mail">Ingresa tu correo para registrarte</label>
            <input class="form-control mb-3" placeholder="Ingresa tu correo" type="mail">
            <label class="form-label" for="password">Ingresa una contraseña</label>
            <input class="form-control mb-3" placeholder="Ingresa contraseña" type="mail">
            <button class="btn btn-login col-12 mb-3">Registrarse</button>
            <p class="text-center">By continuing, you agree to the updated <b> Terms of Sale</b>, <b> Terms of Service</b>, and <b>Privacy Policy</b>.</p>
            <hr>
            <p class="text-center mt-5">OR</p>
            <button class="btn btn-google mb-3"><i class="fa-brands fa-google me-3"></i>Continuar con google</button>
        </div>

         <!-- IMAGEN DEL LADO -->
         <div class="container-register-form-img col-4"></div>
    </div>
</div>