<div class="container-login">
    <div class="container-login-form row shadow rounded">
       
        <!-- FORMULARIO -->
        <div class="container-login-form-input col-8 p-4">
            <h1 class="mb-4 text-center">Registro</h1>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div data-mdb-input-init class="form-outline mb-3">
                    <label class="form-label" for="correo">Correo</label>
                    <input type="email" id="correo" placeholder="example@gmail.com" class="form-control" formControlName="email" />
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="rol">Tipo de usuario</label>
                            <select name="rol" id="rol" class="form-control" formControlName="rol">
                                <option [value]="i.idRol" *ngFor="let i of listAllRoles">{{i.rol}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                      <div data-mdb-input-init class="form-outline">
                      <label class="form-label" for="contrasena">Contraseña:</label>
                      <input type="password" id="contrasena" class="form-control" formControlName="password"/>
                      </div>
                    </div>
                </div>          
                <button type="submit" class="btn btn-login col-12 mb-2" [disabled]="registerForm.invalid">Registrarse</button>
                <p class="text-center">By continuing, you agree to the updated <b> Terms of Sale</b>, <b> Terms of Service</b>, and <b>Privacy Policy</b>.</p>
                <hr>
                <p class="text-center mb-0">OR</p>
                <button type="button" class="btn btn-google "><i class="fa-brands fa-google me-3"></i>Continuar con google</button>
            </form>
        </div>

         <!-- IMAGEN DEL LADO -->
         <div class="container-register-form-img col-4"></div>
    </div>
</div>