<section class="margin-general">
    <div class="img-book"></div>
    <h3>Paso 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit optio tenetur quo distinctio hic, veritatis consequuntur aliquam sapiente debitis veniam omnis nam numquam porro dolore iste perferendis nobis, asperiores ducimus!</p>
    <div class="img-book"></div>
    <h3>Paso 2</h3>
    <div class="img-book"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse necessitatibus sit dolores eveniet ipsum, culpa, animi deleniti cum itaque eius aperiam maxime adipisci neque! Ab quos eligendi accusantium obcaecati rem.</p>
    <h3>Paso 3</h3>
    <div class="img-book"></div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rem consequatur, dolorum explicabo tempore soluta laudantium deserunt harum odit, dolorem repudiandae voluptates quasi consequuntur accusamus nobis illo dignissimos blanditiis exercitationem! 
    
</section>