<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
    <div class="w-20">   
      <a class="navbar-brand" href="">
        <img class="custom-logo-img" src="/img/logo K transparente.png" alt="Logo de Kadmo">
        <img class="custom-logo-nombre-img" src="/img/nombre transparente.png" alt="Logo de Kadmo">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-40">
      <form class="d-flex">
        <div class="position-relative w-100">
          <input class="custom-input-search me-2" type="search" placeholder="¿Qué desea buscar hoy?" aria-label="Search">
          <button class="btn custom-button-absolute" type="submit"><img class="custom-lupe-img" src="/icons/loupe.png" alt="Imágen de una lupa"></button>
        </div>
      </form>
    </div>
    <div class="w-40 collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto w-100 d-flex justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link link-navbar" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-navbar" href="#">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-navbar" href="#">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-navbar" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info btn-login" href="login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary btn-register" href="register">Registrarse</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
