<div class="container-login">
    <div class="container-login-form row shadow rounded">
        <!-- IMAGEN DEL LADO -->
        <div class="container-login-form-img col-4"></div>
        <!-- FORMULARIO -->
        <div class="container-login-form-input col-8 p-4">
            <h1 class="mb-4">Inicio de sesión</h1>
            <label class="form-label" for="mail">Ingresa tu correo para iniciar sesión</label>
            <input class="form-control mb-3" placeholder="Ingresa tu correo" type="mail" #mail>
            <label class="form-label mt-3" for="mail">Ingresa tu contraseña</label>
            <input class="form-control mb-3" placeholder="Ingresa tu contraseña" type="password" #password>
            <button class="btn btn-login col-12 mb-3" type="button" (click)="logIn(mail.value, password.value)">Continuar</button>
            <p class="text-center">By continuing, you agree to the updated <b> Terms of Sale</b>, <b> Terms of Service</b>, and <b>Privacy Policy</b>.</p>
            <hr>
            <p class="text-center mb-0">OR</p>
            <button class="btn btn-google mb-3"><i class="fa-brands fa-google me-3"></i>Continuar con google</button>
        </div>
    </div>
</div>