<div class="dashboard-container mt-5">
  <div class="text-center">
    <h2>Libros más Vendidos</h2>
    <p>Tenemos grandes cantidades de libros interesantes para ti.</p>
  </div>
  <div class="row">
    <div class="col-3" *ngFor="let item of books">
      <div class="dash-book">
        <img [src]="item.img" class="text-center" alt="..." />
        <div class="row">
            <h5 class="col-10">{{item.title}}</h5>
            <i class="fa-regular fa-bookmark col-2"></i>
            <p>{{item.pages}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
