<section class="margin-general">

    <app-page-index [pageIndex]="pageInfo"></app-page-index>
    
    <h2 class="mt-5">Gabriel Garcia Marquez</h2>
    <div class="row">
        <img class="col-2 profile-photo" src="/img/user.jpg" alt="">
        <div class="col-10">
            <div class="row">
                <p class="col-12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium laudantium voluptatum autem distinctio maiores minus eaque, laborum voluptate ea consequatur reprehenderit tenetur obcaecati esse sapiente eligendi? Numquam similique perspiciatis quos?
                Quisquam facere sequi magni earum nobis dicta, iste blanditiis esse perspiciatis obcaecati commodi voluptas! Sint, eligendi! Facere voluptas expedita nobis id impedit illo, fugit unde voluptatum, repudiandae explicabo, laudantium officia!
                Dicta consequatur nemo eius quam, dolores debitis minima id odit tempora deleniti ad quidem quibusdam itaque ex provident, praesentium repellat fuga. Quis minima eaque dolore at repellendus ratione, illum sed!</p>
                <p class="col-2 followers">6.5k Seguidores</p>

                <button class="btn btn-primary col-2">compartir <i class="fa-solid fa-share"></i></button>
            </div>
        </div>
    </div>
</section>
