<footer class="w-100">
  <div class="w-100 container-footer-custom">
    <div class="container-about-us w-50 p-2">
      <div class="info-about-us">
        <div class="w-100 mb-4">
          <h3>Acerca de Nosotros</h3>
          <p>Bienvenido a nuestro sitio web, un lugar maravilloso para explorar y leer cuanto quieras.</p>
        </div>
        <div class="w-100">
          <form action="" class="d-flex justify-content-between">
            <input type="email" placeholder="Correo electrónico" class="form-control">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </form>
        </div>
      </div>
      <div class="policies">
        <div class="container-imagen-kadmo-footer">
          <img src="/img/logo K transparente.png" alt="Kadmo">
        </div>
        <ul class="list-inline-custom">
          <li class="list-inline-item">© 2024 Kadmo</li>
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fast-nav w-50">
      <div class="container-social w-50">
        <h3>Redes Sociales</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="container-store w-50">
        <h3>Enlaces Rápidos</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Contácto</a></li>
          <li class="list-inline-item"><a href="#">Libros</a></li>
          <li class="list-inline-item"><a href="#">Membresía</a></li>
          <li class="list-inline-item"><a href="#">Carrito</a></li>
        </ul>
      </div>
      <div class="container-categories w-50">
        <h3>Contácto</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">(+57) 3164857538</a></li>
          <li class="list-inline-item"><a href="#">{{"kadmo@gmail.com"}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
