section{
    margin-top: 100px;
    display: flex;

}

app-book-description{
    width: 100%;

}
app-book-content{
    width: 30%;
}

app-book-description{
    width: 35%;
}

app-book-notes{
    display: inline-block;
}
/*  */


