section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
app-book-description{
    /* float: left; */
    width: 35%;
}
app-book-content{
    /* float: right; */
    width: 63%;
}

app-book-notes, app-book-create{
    display: inline-block;
    /* width: 100%; */
}


