<main>
  <div class="">
    <div class="bg-principal p-5">
      <div class="container-card-info shadow p-3 rounded text-center">
        <div class="container-title rounded col-2 shadow">
            <h1>KADMO</h1>
        </div>
        <h2 class="mb-4">
           COMPRA O VENDE TUS LIBROS
        </h2>
        <p class="mb-5">
            Consigue vender o comprar tus libros deseados a un excelente precio, únete a nosotros ahora.
        </p>
        <button class="btn btn-comprar"> COMPRAR <i class="ms-3 fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <app-dashboard-home/>
  </div>
</main>
