a{
    color: #000;
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.star-calf{
    cursor: pointer;
    color: #edd132;
    font-size: 1.5rem;
    margin-right: 10px;
}
.star-calf:hover{
    text-shadow: 0 0 10px #ddc432;
}
.button-apply{
    width: 100%;
    /* margin: 0 auto; */
}
aside{
    border-left: #7c838f 1px solid;
    padding: 20px;
}
nav a h2{
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
}

.star-rating .fa-star {
    font-size: 24px;
    color: #ccc;
}

.star-rating .selected .fa-star {
    color: gold !important;
}
