<div class="dashboard-container p-3">
  <div class="text-center mt-5">
    <h2>Reseñas</h2>
    <p>Las calificaciones de nuestros usuarios.</p>
  </div>
  <div class="row mt-5">
    <div class="container-reviews">
      <div class="review">
        <div class="w-40">
          <img src="img/portada-4.jpg" alt="" class="custom-img-review">
        </div>
        <div class="review-info">
          <div class="container-info-book">
            <div class="review-info-book w-75">
              <h3>Nombre del libro</h3>
              <p>Nombre del autor</p>
              <span>100 Pg.</span>
            </div>
            <div class="w-25 custom-rating">
              <span class="d-inline-block">4.5</span>
              <i class="d-inline-block fa-solid fa-star"></i>
            </div>
          </div>
          <div class="review-info-user">
            <div class="container-info-user">
              <div class="container-image-user">
                <img src="/img/user.jpg" alt="user" />
              </div>
              <div class="user-info">
                <h4>Nombre del usuario</h4>
                <p>Fecha de la reseña</p>
              </div>
            </div>
            <div class="container-commentary-user">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                ac nunc nec odio ultricies tincidunt. Nullam nec nunc
                ultricies, ultricies nunc nec, ultricies odio. Nullam nec nunc
                ultricies, ultricies nunc nec, ultricies odio.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Review 2 -->
      <div class="review">
        <div class="w-40">
          <img src="img/portada-2.jpg" alt="" class="custom-img-review">
        </div>
        <div class="review-info">
          <div class="container-info-book">
            <div class="review-info-book w-75">
              <h3>Nombre del libro</h3>
              <p>Nombre del autor</p>
              <span>100 Pg.</span>
            </div>
            <div class="w-25 custom-rating">
              <span class="d-inline-block">4.5</span>
              <i class="d-inline-block fa-solid fa-star"></i>
            </div>
          </div>
          <div class="review-info-user">
            <div class="container-info-user">
              <div class="container-image-user">
                <img src="/img/user.jpg" alt="user" />
              </div>
              <div class="user-info">
                <h4>Nombre del usuario</h4>
                <p>Fecha de la reseña</p>
              </div>
            </div>
            <div class="container-commentary-user">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                ac nunc nec odio ultricies tincidunt. Nullam nec nunc
                ultricies, ultricies nunc nec, ultricies odio. Nullam nec nunc
                ultricies, ultricies nunc nec, ultricies odio.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


