<div class="dashboard-container p-3">
  <div class="text-center mt-5">
    <h2>Categorías</h2>
    <p>Contamos con distintas categorías para todos los gustos.</p>
  </div>
  <div class="row mt-5">
    <div class="col-3" *ngFor="let item of books">
      <div class="dash-book">
        <img [src]="item.img" class="text-center" alt="..." />
        <div class="row dash-book-info">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="col-12">{{item.title}}</h5>
            <div class="container-icon-save">
              <i class="fa-regular fa-bookmark "></i>
            </div>
          </div>
          <p>{{item.cantidad}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

