<section class="benefits">
    <div class="row text-center">
        <h2 class="my-5 title-ref">Beneficios suscripción KADMO</h2>
        <div class="col-3">
            <strong>Libros</strong>
            <p>Aceso anticipado a nuevos lanzamientos.</p>
        </div>
        <div class="col-3">
            <strong>Borradores</strong>
            <p>Visualiza las notas previas a la publicación del libro que escribio el escritor.</p>
        </div>
        <div class="col-3">
            <strong>Ensayos</strong>
            <p>Acceso a material universitario.</p>
        </div>
        <div class="col-3">
            <strong>Privilegios</strong>
            <p>Lanzamientos especiales antes de que todos la puedan ver.</p>
        </div>
    </div>
</section>